<% layout("../views/layouts/boilerplate.ejs") %>

<body>
    <h1>This is my travel website</h1>
   <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 ">
    <% for(let list of alllistings){ %>
        <a class="listing-link" href="/listings/<%=list._id%>">
        <div class="card col listing-card" style="width:20rem;">
            <img src="<%= list.image %>" class="card-img-top" alt="listimage" style="height: 20rem;">
            <div class="card-img-overlay"></div>
            <div class="card-body">
              <p class="card-text">
               <b> <%=list.title %> </b></br>
               <i class="fa-solid fa-dollar-sign"></i><%= list.price %>/night
               </p>
            </div>
        </div>
        </a>
    <% } %>
   </div>
 
    <!-- <form method="GET" action="/listings/new">
        <button>Create listing</button>
    </form>
    <ul>
       <%for(let list of alllistings){ %>
        <li><a href="/listings/<%= list._id%>"><%= list.title %></a>
            <form method="GET" action="/listings/<%= list._id%>/edit">
                <button>Edit</button>
            </form>
        </li>
       <%}%>
    </ul> -->
</body>