<% layout("../views/layouts/boilerplate.ejs") %>
<body>
    <div class="main">
    <div class="show-card col-8" style="width:500px;">
        <img src="<%=listing.image%>" class="card-img-top card-img" alt="listing_image"> 
    </div>
    <div >
        <div class="card-details-1">
            <p class="card-title"><%=listing.title%></p>
        </div>
        <div class="card-details-2">
        <ul style="list-style-type: circle;">
            <li>Owned By-<b><%= listing.owner.username %></b></li>
            <li><b><%=listing.description %></b></li>
            <li> <i class="fa-solid fa-dollar-sign"></i><%=listing.price %>/night</li>
            <li><%=listing.location %></li>
            <li><%=listing.country %></li>
         <% if(currUser && currUser._id.equals(listing.owner._id)) { %>
            <div class="button">
            <div class="button-1">
            <form method="GET" action="/listings/<%=listing._id%>/edit">
            <button class="addbtn">Edit</button>
            </form>
            </div>
            <div class="button-2">
            <form method="POST" action="/listings/<%=listing._id%>?_method=DELETE">
            <button class="addbtn" style="background-color: black;">Delete</button>
            </form>
            </div>
            </div>
         <% } %> 
        </ul>
        </div>
        <% if(currUser) { %>
        <hr>
        <form method="POST" action="/listings/<%=listing._id %>/reviews" novalidate class="needs-validation">
        <div class="review">
            <h3>Write a Review</h3>
            <div>
                <label for="Rating" class="form-label">Rating</label>
                <input type="range" min="1" max="5" id="Rating" name="rating" class="form-control from-range" required>
            </div>
            <div>
                <label for="comment" class="form-label">Comment</label>
                <textarea type="text" id="comment" rows="5" class="form-control" name="comment" placeholder="write a review..." required></textarea>
                <div class="invalid-feedback">
                    Please add some comment for review :)
                </div>
            </div>
             <button class="addbtn review-btn">SUBMIT</button>
         </div>
        </form>
        <% } %>
    </div>
    </div>
 <hr>
 <h4><b>All Reviews</b></h4>
 <% for(review of listing.reviews) { %>
    <div class="card review-card">
      <div class="card-body review-section">
        <h5>@<%= review.author.username %></h5>
        <p class="card-text"><%= review.rating %>&#9733;</p>
        <p class="card-text"><%= review.comment %></p>
      </div>
      <% if(currUser) { %>
      <form method="POST" action="/listings/<%=listing._id%>/reviews/<%=review._id%>?_method=DELETE">
        <button class="addbtn">DELETE</button>
      </form>
      <% } %>
    </div>
 <% } %>
</body>
